body {
  position: absolute;
  min-width: 100%;
  background-color: #353131;
}

h1,h2,h3,h4,h5,h6, a, div {
  color: darkgray;
}

p {
  color: gray;
}

p, .centered {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

html, body {
  overflow: auto;
  width: 100vw;
  height: 100vh;
}

@media only screen and (min-width: 768px) {
  p, .centered {
    width: 70%;
  }
}