body {
  position: absolute;
  min-width: 100%;
  background-color: #353131;
}

p, h1,h2,h3,h4,h5,h6, a, div {
  color: white;
}

html, body {
  overflow: auto;
  width: 100vw;
  height: 100vh;
}
